<launch>
    <arg name="gripper_name" default="gripper" />
    <arg name="device" default="/dev/ttyUSB1" />
    
    <inlude file="$(find robotiq_2f_gripper_action_server)/launch/robotiq_2f_gripper_action_server.launch">
        <arg name="gripper_name" value="$(arg gripper_name)"/>
    /</inlude>

    <node name="robotiq_2f_gripper_connect" pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py" args="$(arg device)"/>
    <!-- TODO: Finish the controller node py according to src/robotiq_2f_gripper_control/robotiq_2f_gripper_ctrl.py -->
    <!-- <node name="robotiq_2f_gripper_control" pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperController.py" output="screen"/> -->
</launch>